<% if (typeof success !== 'undefined') { %>
  <div class="alert alert-success"><%= success %></div>
<% } %>

<h2>Update Information</h2>
<form method="POST" action="/update/<%= response._id %>">
  <h5>Enter Your Information:</h5>

  <label>First Name:</label>
  <input type="text" name="Fname" value="<%= response.firstName %>" required><br>

  <label>Last Name:</label>
  <input type="text" name="Lname" value="<%= response.lastName %>" required><br>

  <label>Date:</label>
  <input type="date" name="date" value="<%= response.date %>" required><br>

  <label>Phone Number:</label>
  <input type="tel" name="phonenum" value="<%= response.phoneNumber %>" required><br>

  <label>L Number:</label>
  <input type="text" name="Lnumber" value="<%= response.lNumber %>" required><br>

  <h5>Survey:</h5><br>

  <label>Activities:</label><br>
  <% ['Bungee jumping', 'Zip Line', 'Skydiving', 'Flying a Helicopter', 'Sandboarding in the desert'].forEach(function(activity) { %>
    <input type="checkbox" name="activities" value="<%= activity %>" 
      <%= response.activities.includes(activity) ? 'checked' : '' %> 
    > <%= activity %><br>
  <% }); %>

  <label>Landmark:</label><br>
  <% ['The Eiffel Tower', 'Taj Mahal', 'The Great Wall of China'].forEach(function(landmark) { %>
    <input type="radio" name="landmark" value="<%= landmark %>" 
      <%= response.landmark === landmark ? 'checked' : '' %> 
    > <%= landmark %><br>
  <% }); %>

  <label>Food Choice:</label><br>
  <% ['Italian', 'Mexican', 'Japanese', 'Indian', 'Chinese'].forEach(function(food) { %>
    <input type="radio" name="dest" value="<%= food %>" 
      <%= response.foodChoice === food ? 'checked' : '' %> 
    > <%= food %><br>
  <% }); %>

  <label>Places to Visit:</label>
  <input type="text" name="places" value="<%= response.places %>" required><br><br>

  <input type="submit" value="Update" class="btn btn-primary">
</form>

<a href="/read" class="btn btn-secondary">Back to List</a>
